{% extends 'partials/base.html' %}
{% block title %}Borrowed Books{% endblock %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
{% if books_with_dates %}
<div class="container-fluid">
    <h5 class="mt-4" style="margin-left: 20px;"> {% bs_icon 'arrow-left-circle' %}<a href="javascript:history.back()">
            Back</a>
    </h5>
    <h2 class="text-center mb-5" style="font-family: Arial, Helvetica, sans-serif;">Borrowed Books</h2>
    <div class="borrowed_books_container">
        {% for book, return_date in books_with_dates %}
        <div class="card m-2 book-card" style="width: 18rem;">
            <img src="{{ book.book_img.url }}" alt="Book Cover for {{ book.title }}" class="card-img-top" width="300px"
                height="300px">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">{{ book.title }}</h5>
                <div class="book_rating">
                    <img src="{% static 'images/star.png' %}" alt="Star Icon" width="20px">
                    {{ book.average_rating|floatformat:1 }} | {{ book.total_reviews }} <span>reviews</span>
                </div>
                <div class="return_date"> <strong>Return Date: </strong>{{ return_date }}</div>
                <a href="#" class="btn btn-primary mt-4">Return Book</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<h2 class="text-center">No Books Borrowed!</h2>
{% endif %}



{% endblock %}