{% extends 'partials/base.html' %}
{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="login-container">

    <div class="login-section">
        <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
            {% csrf_token %}{{form|crispy}}
            <p>Dont't have an account? <a href="/sign-up">SignUp</a></p>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
    <img src="{% static 'images/reading.svg' %}" alt="reading">
</div>

{% endblock %}