{% extends 'partials/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<div class="header">
    <div class="registration_section">
        Welcome to our digital heaven of books and learning! Elevate your reading experience by joining our library
        community.
        <br><br>
        <a class="btn btn-primary" href="/sign-up">Get Started</a>
    </div>
</div>
<div class="aboutus">
    <h2> <strong>About Us</strong> </h2>

    Welcome to our Library Management System powered by Django! At our core, we are passionate about fostering a love
    for reading and learning within our community. Our platform is designed to provide seamless access to an extensive
    collection of books, making the exploration of knowledge an enjoyable and enriching experience.
    <br><br>
    Driven by a commitment to efficiency and user-friendliness, our Library Management System allows patrons, including
    students, to easily browse, search, and borrow books from the comfort of their own devices. Whether you're a student
    looking for academic resources, a book enthusiast eager to discover new titles, or someone simply seeking a quiet
    corner for reading, our platform aims to cater to your diverse literary needs.
    <br><br>
    Our team is dedicated to continuously improving and expanding our digital library, ensuring that it remains a
    dynamic and valuable resource for everyone. Join us on this literary journey as we strive to create a virtual space
    that celebrates the joy of reading, promotes lifelong learning, and facilitates convenient book borrowing for
    students and patrons alike. Thank you for being a part of our community!
</div>



{% endblock %}